* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.forside {
  background: linear-gradient(135deg, #f1a2fe 0%, #f6dbeb 55%, #7ce4ef 75%);
  margin: 0;
}

.forside_navn {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0px 50px;
}

.year {
  display: block;
  margin: 0 10px 0px auto;
  width: fit-content;
  padding: 10px;
  font-size: 50px;
}

.magnus_grid {
  grid-row: 1;
  grid-column: 1 / span 8;
}

.magnus {
  display: grid;
  font-size: 150px;
  font-weight: 400;
}

.lykke_grid {
  grid-row: 2;
  grid-column: 7;
}

.lykke {
  display: grid;
  font-size: 75px;
  font-weight: 400;
  padding: 50px 0px 0px 0px;
}

.johansson_grid {
  grid-row: 3;
  grid-column: 7;
}

.johansson {
  font-size: 120px;
  font-weight: 400;
}

.multimediedesign_grid {
  grid-row: 4;
  grid-column: 7;
}

.multimediedesign {
  font-size: 50px;
  font-weight: 400;
  display: block;
  margin: 0 10px 10px auto;
  width: fit-content;
  padding: 10px;
}

.button_grid {
  grid-row: 3;
  grid-column: 2 / span 2;
}

.read_more {
  margin-top: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 135px;
  border: none;
  box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 96px;
  font-size: 30px;
}

.read_more:hover {
  cursor: pointer;
}

#about_me {
  background-color: white;
}

.main_div {
  margin: 0px 50px 0px 50px;
}

.overskrift_div_about {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  padding-top: 20px;
}

.overskrift {
  font-size: 70px;
  font-weight: 400;
  margin: 0px 0px 0px 25px;
}

/* .border_about {
        border-top: #feccff solid 10px;
        margin: 45px 0px 0px 20px;
        width: 650px;
      } */

.diamant_about {
  max-width: 75px;
  margin: 0 10px 0px auto;
  width: fit-content;
  padding: 0px;
}

.about_me_div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0px;
}

.text_about_me_div {
  background-color: #feccff;
  border-radius: 88px;
  margin: 50px;
  box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.text_about_me {
  margin: 50px;
}

.mig {
  border-radius: 88px;
  max-height: 400px;
  margin: 50px;
}

.divide_border {
  width: 100%;
  height: 15px;
  background-color: #feccff;
  margin: 0px 0px 30px 0px;
}

.projekter {
  background-color: white;
}

/* .border_projekter {
        border-top: #feccff solid 10px;
        margin: 45px 0px 0px 20px;
        width: 700px;
      } */

.om_projekter {
  background-color: white;
  border-radius: 50px;
  margin: 50px 350px 50px 350px;
  /* box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25); */
}

.text_om_projekter {
  padding: 50px;
}

.h3_projekter {
  font-size: 30px;
  font-weight: normal;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.a_tag_projekter {
  display: flex;
  justify-content: center; /* Centrer indholdet vandret i <a>-tagget */
  width: 280px;
  margin: 25px 50px 25px 50px;
  padding: 20px;
  background-color: #b1eff6;
  border-radius: 135px;
  border: none;
  box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
  height: 60px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center; /* Centrer indholdet vandret */
  align-items: center; /* Centrer indholdet lodret */
  flex-direction: column; /* Stak knapperne i en kolonne */
  text-align: center; /* Centrer tekst indeni knapperne */
}

.knap_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; /* Centrer kolonner vandret */
  align-items: center; /* Centrer rækker lodret */
  gap: 20px;
  padding: 50px 0px 50px 0px;
}

/* .knap_projekt {
          width: 388px;
          margin: 50px;
          padding: 20px;
          background-color: white;
          border-radius: 135px;
          border: none;
          box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
          height: 96px;
          font-size: 30px;
        } */

/* .knap_projekt {
      width: 280px;
      margin: 25px 50px 25px 50px;
      padding: 20px;
      background-color: white;
      border-radius: 135px;
      border: none;
      box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
      height: 96px;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    } */

.a_tag_projekter:hover {
  background-color: #feccff;
}

/* Centrer teksten i knapperne */
.knap_text {
  flex-grow: 1; /* Gør teksten fleksibel, så den kan vokse */
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Stil billeder separat */
.img_knap {
  max-width: 75px;
  margin-left: 10px;
  vertical-align: center;
}

.goals {
  background-color: white;
  padding: 0px 0px 50px 0px;
}

/* .border_goals {
        border-top: #7ce4ef solid 10px;
        margin: 45px 0px 0px 20px;
        width: 700px;
      } */

.om_goals {
  background-color: #feccff;
  border-radius: 88px;
  margin: 25px 250px 70px 250px;
  box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.text_om_goals {
  padding: 50px;
}

.faerdigheder_div {
  background-color: #feccff;
  margin: 0px 400px 15px 400px;
  padding: 50px;
  border-radius: 88px;
  box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.faerdigheder_h3 {
  font-size: 30px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: disc; /* Brug disc-ikon til listepunkterne */
  padding-left: 20px; /* Tilføj plads til venstre for listepunkterne */
}

li::marker {
  color: #fffd9f;
  font-size: 24px;
}

li {
  margin: 15px 0px 15px 0px; /* Tilføj plads mellem hvert <li> element */
}

.kontakt {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
}

.kontakt_p {
  font-size: 20px;
}

.diamant {
  max-width: 30px;
  padding: 25px 0px 0px 0px;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 0px 50px 50px 50px;
}

/* .top_border {
        border-top: #feccff solid 10px;
        margin: 50px 20px 0px 20px;
      } */

.ikon_knap {
  background-color: #feccff;
  border-radius: 50%;
  margin-top: 50px;
  padding: 20px;
  border: none;
  box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
  width: 90px;
  height: 90px;
}

.ikon_knap:hover {
  cursor: pointer;
}

.ikon_img {
  max-height: 50px;
}

@media (max-width: 900px) {
  .main_div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer indhold vandret */
    justify-content: center; /* Centrer indhold lodret */
    min-height: 100vh; /* Sørger for, at indholdet er mindst 100% af skærmens højde */
  }
  /* ------forside------ */
  .year {
    display: block;
    margin: 0 10px 0px auto;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
  }

  .forside_navn {
    display: block;
  }

  .magnus {
    font-size: 40px;
    font-weight: 400;
    padding: 50px 0px 0px 0px;
  }

  .lykke {
    display: grid;
    font-size: 40px;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
  }

  .johansson {
    font-size: 40px;
    font-weight: 400;
  }

  .multimediedesign {
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin: 0 10px 10px auto;
    width: fit-content;
    padding: 10px 0px 100px;
  }

  .read_more {
    margin-top: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 135px;
    border: none;
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 80px;
    font-size: 15px;
    display: none;
  }

  /* --------about me------- */
  .overskrift {
    font-size: 30px;
  }
  .about_me_div {
    display: block;
  }

  .text_about_me_div {
    margin: 15px 0px 50px 0px;
    padding: 30px;
    border-radius: 30px;
  }

  .text_about_me {
    font-size: 13px;
    margin: 0px;
  }

  .mig {
    display: flex;
    border-radius: 30px;
    max-height: 280px;
    margin: 15px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
    max-width: 100%; /* Sørger for, at billedet ikke er bredere end sin container */
    height: auto; /* Bevarer billedets proportioner */
    margin: 0 auto; /* Centrer billedet vandret inden for sin container */
  }
  /* ----------Projekter--------- */
  .divide_border {
    margin-top: 50px;
  }

  .knap_grid {
    display: block;
  }

  .h3_projekter {
    font-size: 20px;
    font-weight: normal;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .a_tag_projekter {
    display: flex;
    justify-content: center; /* Centrer indholdet vandret i <a>-tagget */
    width: 180px;
    margin: 25px 50px 25px 50px;
    padding: 20px;
    background-color: #b1eff6;
    border-radius: 135px;
    border: none;
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  /* -----------mål------- */

  .om_goals {
    background-color: #feccff;
    border-radius: 30px;
    margin: 15px 0px 50px 0px;
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .text_om_goals {
    font-size: 13px;
  }

  /* --------færdigheder---- */

  .faerdigheder_div {
    background-color: #feccff;
    margin: 0px;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
  }

  li {
    font-size: 13px;
  }

  li::marker {
    color: #fffd9f;
    font-size: 20px;
  }

  .kontakt_p {
    font-size: 12px;
  }
  .diamant {
    max-width: 25px;
    padding: 25px 0px 0px 0px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ikon_knap {
    background-color: #feccff;
    border-radius: 50%;
    margin-top: 50px;
    padding: 20px;
    border: none;
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70px;
    height: 70px;
  }

  .ikon_img {
    max-height: 35px;
  }
}
